extends layout 
block content
    .open
        .bang
            .done 
                h1.head1 Welcome To the <br> Leabridge Road Library 
                h2.head2 Checkout Your Next Book Today! 
                p.para1 Members Only
            .done2
                img.book(src="../images/forest.png")
    .section1            
        h1#heading Status: <span class="page-status">Online</span>
    .section2
        h1#heading Browse by Category
        .catRow 
            .catColumn
                a(href="/adventure") 
                    img(src="../images/adv2.jpg", style="width:100%") 
                p.image-paragrapgh Adventure
            .catColumn
                a(href="/romance") 
                    img(src="../images/roman2.jpg", style="width:100%")
                p.image-paragrapgh Romance
            .catColumn
                a(href="/mystery") 
                    img(src="../images/mys2.jpg", style="width:100%")
                p.image-paragrapgh Mystery
            .catColumn
                a(href="/thriller") 
                    img(src="../images/thrill2.jpg", style="width:100%")
                p.image-paragrapgh Thriller
            .catColumn
                a(href="/dystopian") 
                    img(src="../images/dysto2.jpg", style="width:100%")
                p.image-paragrapgh Dystopian
            .catColumn
                a(href="/children") 
                    img(src="../images/childr.jpg", style="width:100%")
                p.image-paragrapgh Children
    .section3
        h1#heading Whats New?
    .section3
        h1#heading Upcoming Events   