extends layout 
block content
    .open
        .bang
            .done 
                h1.head1 Welcome To the <br> Leabridge Road Library 
                h2.head2 Checkout Your Next Book Today! 
                p.para1 Members Only
            .done2
                img.book(src="../images/forest.png")
                
    h1#heading Reservations 
    span
        #intro You are now <br/>
        .page-status Online 