<!DOCTYPE html> 
html 
    head 
        meta(charset="UTF-8")
        title PWA for Project 
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name="theme-color", content="#764ABC")
        link(rel="stylesheet", href="../style.css")
        link(rel="manifest", href="/js/pwa.webmanifest")
        link(rel="apple-touch-icon", href="./public/images/logo.png")
    body 
        .menu   
            ul 
             li
                a.genre(href="/") Home
             li 
                a.genre(href="/library") Library 
             li
                a.genre(href="/account") Account
             li 
                a.genre(href="/test") Test
           
        block content
 

        script(src='/js/pwa.js')
        script(src='/js/status.js' async)