extends layout.pug  
block content 
    h1#heading Library 
    .search-wrap 
        input.search(type="text", id="myInput", onkeyup="myFunction()", placeholder="Search library...")
        input(type="submit", name="search")
    table.table(border=1) 
        tr#trhead 
                th Book 
                th Author
                th Genre
        for item in data  
            tr#tr 
                td 
                    a(href='/solo-book/' + item.book_id) #{item.book_name}
                td  #{item.book_author}
                td  #{item.genre}
    .hero 
    script(src='/js/status.js' async)