extends layout.pug  
block content 
    h1#heading Library 
    table#table(border=1)
        tr#trhead 
                th Book 
                th Author
                th Genre
        for item in data  
            tr#tr 
                td 
                    a(href='/preview/' + item.book_id) #{item.book_name}
                td  #{item.book_author}
                td  #{item.genre}
    