extends layout.pug  
block content 
    h1#heading Library 
    table#table(border=1)
        for item in data 
            tr 
                td  #{item.book_author}
                td 
                    a(href='/preview/' + item.book_id) #{item.book_name}
    