extends layout  
block content 
    head 
        link(rel="stylesheet", href="style.css")
    h1#heading  Preview 
    for item in chapter 
        p.head Title: <p class = 'Title'> #{item.title} 
        p.chap Chapter 1: <p class = 'Chapter'> #{item.chapter}
    a.btn(href='#') Reserve Book
    for item in chapter 
        a.btn2(href='/review/' + item.book_id) Write a Review for this book!