extends layout
block content
    .landing
    h1.firstHeading Register for The Lea-Bridge Road Library App
        .form
            form(action="/registration" method='POST')
                label(for="email") 
                input.email('name'="email", placeholder="Enter your email...")
                label(for="username") 
                input.username('name'="username", placeholder="Enter a username...")  
                label(for="email")  
                input.password('name'="password", placeholder="Enter your password...") 
                input.submit(type='submit' value='Submit')
                a.btn(href="/login") Already have an Account? Sign in Here!