extends layout.pug 
block content
    h1#heading Test Page 
    .search-wrapper
        nav 
            a.genre(href="/action") Action
            a.genre(href="/romance") Romance
            a.genre(href="/mystery") Mystery
            a.genre(href="/thriller") Thriller
            a.genre(href="/dystopian") Dystopian
            div.search-bar       
                input.input-bar(type="text", id="input-bar", placeholder="search...", onkeyup="search()")
                
            
    div.row  
        for item in experiment
            div.column  
                img.yo(src="../images/cover.jpg", alt="book cover", style="width:100%")
                h1.image-heading 
                    a.bLink(href="/solo-book/" + item.book_id) #{item.book_name}
                p.image-paragrapgh #{item.book_author}
                p.image-paragrapgh #{item.genre}
    .hero 
            
        

