extends layout.pug  
block content 
    h1#heading Library 
    include includes/genre.pug
    div.row  
        for item in data
            div.column  
                img.yo(src="../images/cover.jpg", alt="book cover", style="width:100%")
                h1.image-heading 
                    a.bLink(href="/solo-book/" + item.book_id) #{item.book_name}
                p.image-paragrapgh #{item.book_author}
                p.image-paragrapgh #{item.genre}