.search-wrapper
        nav 
            a.genre(href="/adventure") Adventure
            a.genre(href="/romance") Romance
            a.genre(href="/mystery") Mystery
            a.genre(href="/thriller") Thriller
            a.genre(href="/dystopian") Dystopian
            a.genre(href="/children") Children
            div.search-bar       
                input.input-bar(type="text", id="input-bar", placeholder="search...", onkeyup="search()")